cache=/home/devenvironment/Nodelib/npm/node_caches
store-dir=/home/devenvironment/Nodelib/pnpm
global-bin-dir=/home/devenvironment/Nodelib/pnpm/bin
cache-dir=/home/devenvironment/Nodelib/pnpm/node_caches
state-dir=/home/devenvironment/Nodelib/pnpm/node_states
global-dir=/home/devenvironment/Nodelib/pnpm/node_modules
auto-install-peers=true
