export GOOGLE_API_KEY=AIzaSyAtVAyqtq8lbS0OTSEvsEQiEChF3wMe2A0
export GOOGLE_DEFAULT_CLIENT_ID=945306111229-f9qv89tq0lar1447lfqejrq7lbc97sqr.apps.googleusercontent.com
export GOOGLE_DEFAULT_CLIENT_SECRET=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
