" 插件配置
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'easymotion/vim-easymotion'
Plug 'terryma/vim-multiple-cursors'

" 基础配置
" 设置回到 normal 模式时自动切换英文输入法, 进入 insert 模式自动恢复(需要下载插件 ideavim_extension )
let rime_ascii = 1
set keep-english-in-normal-and-restore-in-insert
set showcmd
set clipboard=unnamed
set clipboard+=unnamedplus
set clipboard+=ideaput
set hlsearch
set incsearch
set ignorecase
set smartcase
set timeoutlen=500
set wildmenu
set viminfo=!,'10000,<50,s10,h
set scrolloff=50
set sidescrolloff=50
set number
set relativenumber
set history=100
set notimeout
set NERDTree
set multiple-cursors
let mapleader=" "

" 基本键位
nnoremap s <nop>
nnoremap ; \:
vnoremap ; \:
nnoremap S :action SaveAll<Cr>
nnoremap Q :q!<CR>
vnoremap p "_dhp
nnoremap <M-a> ggVG
nnoremap <M-s> vi{

" 插入模式下光标移动
inoremap <M-h> <left>
inoremap <M-j> <down>
inoremap <M-k> <up>
inoremap <M-l> <right>

" 窗口配置
nnoremap sv :vs<CR>
nnoremap sp :sp<CR>
nnoremap sc <C-w>c
nnoremap so <C-w>o
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-Space> <C-w>w
nnoremap s. :vertical resize+20<CR>
nnoremap s, :vertical resize-20<CR>
nnoremap sj :res +10<CR>
nnoremap sk :res -10<CR>
nnoremap ss :bn<CR>
nnoremap <leader>c :q!<CR>

" 代码跳转设置
nnoremap gd :action GotoDeclaration<Cr>
nnoremap ge :action GotoNextError<Cr>
nnoremap gt :action GotoTest<Cr>
nnoremap gs :action GotoSuperMethod<Cr>
nnoremap gi :action GotoImplementation<Cr>
nnoremap ga '.
nnoremap g; $a;<esc>

" 光标移动
nnoremap <C-M-k> :action MoveLineUp<Cr>
inoremap <C-M-k> :action MoveLineUp<Cr>
vnoremap <C-M-k> :action MoveLineUp<Cr>
nnoremap <C-M-j> :action MoveLineDown<Cr>
inoremap <C-M-j> :action MoveLineDown<Cr>
vnoremap <C-M-j> :action MoveLineDown<Cr>

" 代码连续缩进
vnoremap < <gv
vnoremap > >gv
vnoremap <S-Tab> <gv
vnoremap <Tab> >gv

" 代码注释
nnoremap <leader>/ :action CommentByLineComment<Cr>
vnoremap <leader>/ :action CommentByLineComment<Cr>
nnoremap <leader><leader>/ :action CommentByBlockComment<Cr><esc>
vnoremap <leader><leader>/ :action CommentByBlockComment<Cr><esc>
nnoremap <leader>d/ :action FixDocComment<Cr>

" find 配置
nnoremap <leader>ff :action GotoFile<Cr>
nnoremap <leader>ft :action FindInPath<Cr>
nnoremap <leader>fw :action Find<Cr>
nnoremap <leader>fc :action GotoAction<Cr>
nnoremap <leader>fp :action RecentProjectListGroup<Cr>

" 重命名 格式化
nnoremap <leader>rt :action Replace<Cr>
nnoremap <leader>rn :action RenameElement<Cr>
nnoremap <leader>fm :action ReformatCode<Cr>\:action OptimizeImports<Cr>
nnoremap <leader><leader>fm :action ReformatWithPrettierAction<Cr>

" 折叠设置
nnoremap zz : action CollapseRegion<Cr>
nnoremap <leader>zc :action ExpandAllRegions<Cr>
nnoremap <leader>zz :action CollapseAllRegions<Cr>

" 切换设置
vnoremap th :action de.netnexus.CamelCasePlugin.ToggleCamelCase<Cr>
nnoremap td :action ToggleRenderedDocPresentation<Cr>

" 代码抽取
vnoremap <leader>em :action ExtractMethod<Cr>
vnoremap <leader>ec :action IntroduceConstant<Cr>
vnoremap <leader>ef :action IntroduceField<Cr>
vnoremap <leader>ev :action IntroduceVariable<Cr>

" 其他配置
nnoremap <C-T> :action Terminal.OpenInTerminal<CR>
nnoremap T :action SelectInProjectView<CR>
nnoremap <leader>nh :nohlsearch<Cr>
nnoremap <leader>ss :action FileStructurePopup<Cr>
nnoremap <leader>i f(a
nnoremap <leader>; A;<esc>
nnoremap <leader>np :action NewProjectOrModuleGroup<Cr>
nnoremap <leader>sw :action SurroundWith<Cr>
vnoremap <leader>sw :action SurroundWith<Cr>
nnoremap <leader>gc :action Generate<Cr>
vnoremap <leader>gc :action Generate<Cr>
nnoremap <F5> :action RunClass<Cr>
nnoremap <leader>sh :action Rainbow.ScopeHighlightingAction<Cr>
nnoremap <leader>sr :action Rainbow.ScopeOutsideHighlightingRestrainAction<Cr>
nnoremap <leader>tr :action $EditorTranslateAction<Cr>
vnoremap <leader>tr :action $EditorTranslateAction<Cr>
