cache=/env/node/npm/node_caches
store-dir=/env/node/pnpm
global-bin-dir=/env/node/pnpm/bin
cache-dir=/env/node/pnpm/node_caches
state-dir=/env/node/pnpm/node_states
global-dir=/env/node/pnpm/node_modules
auto-install-peers=true
