export GOOGLE_API_KEY=AIzaSyBm4wMoyeGcx_Bi2iH4v-aRRQW8ErOVPkg
export GOOGLE_DEFAULT_CLIENT_ID=517580867850-5l4oj02vm2nev1ebomk50spflgf2sj4j.apps.googleusercontent.com
export GOOGLE_DEFAULT_CLIENT_SECRET=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
