configuration {
  modi: "drun,filebrowser,run,ssh";
  display-drun: "";
  display-run: "";
  display-filebrowser: "";
  display-window: "";
  display-ssh: "";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  window-format: "{icon} {t}";
  icon-theme: "Tela-circle";
}
